# 4. Look up the documentation for L ...

In [ ]:
from fastai.vision.all import *

In [ ]:
?L

Init signature: L(items=None, *rest, use_list=False, match=None)
Docstring:      Behaves like a list of `items` but can also index with list of indices or masks
File:           ~/mambaforge/envs/fastai/lib/python3.9/site-packages/fastcore/foundation.py
Type:           _L_Meta
Subclasses:     TfmdLists, MultiCategory, LabeledBBox

In [ ]:
doc(L)

In [ ]:
t = L(range(10))
t

(#10) [0,1,2,3,4,5,6,7,8,9]

In [ ]:
t.filter(lambda x: x < 5)

(#5) [0,1,2,3,4]

In [ ]:
t.argwhere(ge(4))

(#6) [4,5,6,7,8,9]

In [ ]:
-1 + t

(#11) [-1,0,1,2,3,4,5,6,7,8...]

# 13. Calculate exp and softmax yourself

In [ ]:
df = pd.DataFrame({'output': [0.02, -2.49, 1.25]}, index = ['teddy', 'grizzly', 'brown'])
df

         output
teddy      0.02
grizzly   -2.49
brown      1.25

In [ ]:
df['exp'] = np.exp(df.output)
df

         output       exp
teddy      0.02  1.020201
grizzly   -2.49  0.082910
brown      1.25  3.490343

In [ ]:
df['softmax'] = df.exp / np.sum(df.exp)
df

         output       exp   softmax
teddy      0.02  1.020201  0.222099
grizzly   -2.49  0.082910  0.018050
brown      1.25  3.490343  0.759851

# Scratch